{% extends 'home/base.html.twig' %}

{% block content %}
        <!-- <h3 class="text-center text-uppercase mb-3 text-primary">CẢM NHẬN VỀ BÀI HÁT</h3> -->
           {% for article in findArticle %}
                <div class="row mb-5">
                    <div class="col-sm-4">
                        <img src="/CSE485_2023_BTTH03_3/views/images/songs/{{article.hinhanh}}" class="img-fluid" alt="...">
                    </div>
                    <div class="col-sm-8">
                        <h5 class="card-title mb-2">
                            <a href="" class="text-decoration-none">{{article.tieude}}</a>
                        </h5>
                        <p class="card-text"><span class=" fw-bold">Bài hát: </span>{{article.ten_bhat}} </p>
                        <p class="card-text"><span class=" fw-bold">Thể loại: </span>{{article.ten_tloai}} </p>
                        <p class="card-text"><span class=" fw-bold">Tóm tắt: </span>{{article.tomtat}}</p>
                        <p class="card-text"><span class=" fw-bold">Nội dung: </span>{{article.noidung}}</p>
                        <p class="card-text"><span class=" fw-bold">Tác giả: </span>{{article.tacgia}}</p>

                    </div>          
        </div>
        {% endfor %}
 {% endblock %}
